/*Media - Stylesheet*/
@media (min-width: 1700px) and (max-width: 14000px){
}
@media (min-width: 0px) and (max-width: 1370px) {
}
@media (min-width: 0px) and (max-width: 1024px) {
}
@media (min-width: 0px) and (max-width: 769px) {
}
@media (min-width: 0px) and (max-width: 569px) {
    .navbar{
        padding: 24px 0px;
        border-bottom: 0px solid #fff;
    }
    .navbar h1{
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }
    .navbar ul{
        display: none;
    }
    .jumbo-box{
        padding: 35px 0px;
    }
    .jumbo-box .container{
        display: block;
    }
    .jumbo-box .text{
        width: 100%;
        text-align: center;
        padding: 0px 1%;
    }
    .jumbo-box .text h2 {
        font-weight: 500;
        font-size: 28px;
    }
    .jumbo-box .text h3{
        font-weight: 500;
        font-size: 23px;
        margin-bottom: 10px;
    }
    .jumbo-box .text h3 span{
        left: 0px;
        right: 0px;
        margin: auto;
        width: 218px;
    }
    .jumbo-box .text p {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    .jumbo-box .text a span{
        left: 0px;
        position: static;
        padding: 10px 22px;
        width: auto;
        font-size: 14px;
        font-weight: 500;
    }
    .jumbo-box .text a svg {
        width: 17px;
        height: 21px;
    }
    .jumbo-box .slider{
        display: block;
        margin-top: 0px;
        width: 110px;
    }
    .jumbo-box .slider #carousel figure{
        width: 90px;
        height: 111px;
    }
    .jumbo-box .slider img{
        width: 100%;
    }
    .jumbo-box .slider #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(150px);}
    .jumbo-box .slider #carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(150px);}
    /*.checklist*/
    .checklist {
        padding: 25px 0px;
    }
    .checklist h2{
        font-size: 22px;
        margin-bottom: 24px;
    }
    .checklist ul li {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 8px;
        line-height: 15px;
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .checklist ul li::before{
        width: 12px;
        height: 9px;
        margin-right: 15px;
    }
    .checklist .box {
        width: 78%;
    }
    /*mall carousel*/
    .mall-carousel{
        padding: 30px 0px;
    }
    .mall-carousel h2 {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 23px;
        line-height: 26px;
    }
    .mall-carousel p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 35px;
    }
    .mall-carousel .mall-car .rotateslider-container{
        height: 135px;
    }
    .mall-carousel .mall-car .rotateslider-container .rotateslider-item img {
        border: 1px solid rgb(255 255 255 / 38%);
        padding: 4px;
        width: 132px;
    }
    /*.t-img-box*/
    .t-img-box{
        padding: 30px 0px;
    }
    .t-img-box .container{
        grid-template-columns: 100%;
    }
    .t-img-box .txt h2{
        text-align: center;
    }
    .t-img-box .imgs{
        display: none;
    }
    /*.h service*/
    .h-service {
        padding: 30px 0px;
    }
    .h-service h2 {
        font-weight: 600;
        font-size: 22px;
    }
    .h-service .h-service-grid{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 28px;
    }
    .h-service .h-service-grid .box img {
        max-height: 90px;
        margin-bottom: 15px;
    }
    .h-service .h-service-grid .box .b {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .h-service .h-service-grid .box p {
        font-size: 11px;
        line-height: 13px;
    }
    .gradient-box {
        padding: 30px 0px;
        background: linear-gradient(139deg, rgba(97,132,216,1) 0%, rgb(12 42 114) 100%);
    }
    .gradient-box h2 {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 24px;
    }
    .gradient-box .boxbox {
        width: 90%;
    }
    .gradient-box .box{
        grid-template-columns: 1fr;
        row-gap: 11px;
        margin-bottom: 10px;
    }
    .gradient-box .box .img {
        grid-row: 1;
    }
    .gradient-box .box .img .gred{
        width: 60px;
        height: 60px;
    }
    .gradient-box .box .txt{
        position: relative;
    }
    .gradient-box .box .txt .pur {
        font-size: 14px;
    }
    .gradient-box .box .txt .title {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 15px;
    }
    .gradient-box .box .txt .sm-t{
        font-size: 13px;
        font-weight: 200;
        margin-bottom: 25px;
    }
    .gradient-box .box .txt .next{
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -15px;
        margin: auto;
        width: 24px;
    }
    .gradient-box .sp-box {
        width: 90%;
        padding: 16px 20px;
    }
    .gradient-box .sp-box h3{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .gradient-box .sp-box p {
        font-size: 12px;
    }
    .half-img{
        padding: 30px 30px;
    }
    .half-img .container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .half-img h2{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .half-img p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .half-img a{
        padding: 11px 28px;
        font-weight: 500;
        font-size: 16px;
    }
    .stamp-b{
        padding: 30px 0px;
    }
    .stamp-b .container {
        padding: 0px 8%;
    }
    .stamp-b h2{
        font-size: 19px;
        margin-bottom: 24px;
    }
    .stamp-b img {
        width: 146px;
        margin-bottom: 20px;
    }
    .stamp-b p {
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .stamp-b a{
        padding: 11px 28px;
        font-weight: 500;
        font-size: 16px;
        margin-top: 14px;
    }
    .before-footer {
        padding: 24px 0px;
    }
    .before-footer .container{
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    .before-footer .img img{
        padding: 0px 50px;
    }
    .before-footer .txt{
        text-align: center;
        padding: 0px 20px;
    }
    .before-footer .txt p {
        font-size: 14px;
    }
    .before-footer .txt h2 {
        font-size: 20px;
        font-weight: 700;
        color: #08083D;
        margin-bottom: 22px;
    }
    .stories .h h2{
        font-size: 21px;
        margin-bottom: 1px;
    }
    .stories .h{
        padding-top: 16px;
        padding-bottom: 18px;
    }
    .stories .h p {
        font-size: 13px;
    }
    .stories .story-g{
        grid-template-columns: repeat(2, 1fr);
    }
    .stories .story-g .box {
        padding: 16px 20px;
    }
    .stories .story-g .box .quote svg {
        width: 40px;
        height: 37px;
        margin-bottom: 8px;
    }
    .stories .story-g .box p.disc {
        font-size: 10px;
        line-height: 13px;
        margin-bottom: 15px;
    }
    .stories .story-g .box .img {
        margin-bottom: 10px;
    }
    .stories .story-g .box .img img {
        width: 90px;
    }
    .stories .story-g .box p.name {
        font-size: 11px;
    }
    .stories .story-g .box p.name span{
        font-size: 12px;
        margin-bottom: -5px;
    }
    .stories .story-g .box:nth-child(5) {
        background-color: #08083d;
        grid-column: span 2;
    }
    .footer{
        padding: 28px 0px;
    }
    .footer .follow{
        width: 100%;
        margin-bottom: 26px;
    }
    .footer h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .footer .follow .s {
        text-align: center;
    }
    .footer .gettouch p{
        text-align: center;
    }
    .footer .bot-p{
        margin-top: 30px;
        text-align: center;
    }
    .footer .bot-p a{
        width: 100%;
        margin: 0px;
    }














}
@media (min-width: 0px) and (max-width: 360px) {
}
 